body {
    background-color: rgb(255, 251, 0);
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
}


/* стилизуем кнопку */

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/* контейнер меню */

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #f2f700;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #f2f700;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

.nurjamal1 {
    border-radius: #000 50px 0 px 50px 0;
    font-size: 30px;
    color: black;
    font-style: italic;
    text-align: center;

}

.logo1 {
    height: 50px;
    border-radius: 100px;
}

.bot {
    font-size: 20px;
    color: gray;
    text-align: right;
}

.text {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
}

.Jirniy {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
}

.round {
    border-radius: 50%;
    box-shadow: 5px 5px 10px 5px rgb(109, 107, 107);
    position: relative;
    left: 1100px;
    top: -50px;
}

.tarif {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
}

.two {
    font-size: 30px;
}

.card{
margin: 10px;
    position: relative;
    left:500px;
    top:-100px;
    width: 227px;
    height: 227px;
}
.text{
    margin: 3px;
    font-size: 25px;
}

@media(max-width: 770px){
    .Jirniy{
        font-size: 20px;
        text-align: center;
    }
    .nurjamal1{
        font-size: 20px;
    }
    .round{
        left: 470px;
        width: 100px;
        height: 100px;
    }
    .card{
        left: 200px;
        width: 127px;
        height: 127px;
        margin: 5px;
    }
    .text{
    font-size: 15px;
    padding: -100px;
    }
    .two{
        font-size: 20px;
    }
}